/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/



body {
    font-family: "Helvetica", sans-serif;
    background-color: purple;
    margin: 0 auto;
    max-width: 768px;
  }

  .hero-image{
    max-width: 768px;
    height: 550px;
  }


  .slack-logo{
    width: 100px;
    margin-top: 2%;
    margin-left: 2%;
  }

  .navigation-list-items {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-top: 2%;
  }

.navigation-button {
    all: unset;
  }

.mobile-navigation {
  display: flex;
  justify-content: space-between;
}

.sign-up-group-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamwork-message {
  color: white;
  text-align: center;
}

.slack-information {
  color: white;
  text-align: center;
}

.slack-sentence-color {
  color: yellow;
}


/* Buttons */
.sign-upp-buttons-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up-button-email {
  width: 96%;
  height: 50px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
}


.sign-up-button-google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 2%;
  border-radius: 5px; /* Optional rounded corners */
  width: 96%; 
}

.google-logo-image {
  width: 30px; 
  height: auto;
  margin-right: 10px; 
}

.sign-up-with-google {
  font-size: 16px; /* Adjust text size */
  color: #000000; /* Text color */
}


.company-section {
  background-color: ivory;
  margin-bottom: 10px;
}

.trust-info {
  text-align: center; 
  padding: 30px;
  margin-top: 0;
}

.company-list-one {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.company-list-one > img {
  width: 20%;
  height: 75px;
}


.company-list-two {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
 
}

.company-list-two > img {
  width: 40%;
  height: 75px;
  padding-bottom: 30px;
}

.info-section {
  background-color: white;
}

.company-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
}

.slack-teams-header{
  color: purple;
}

.improvement-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  margin-left: 0px;
}

.improvement-list p {
  text-align: center;
}

.digital-hq{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.digital-header{
  color: white;
}

.try-for-free-btn {
  height: 35px;
  width: 98%;
  margin: 1%;
  border-radius: 1px;
}

.talk-to-sales-btn {
  height: 35px;
  width: 98%;
  margin: 1%;
  border-radius: 1px;
  background-color: transparent;
  color: white;
  border: thin 1px white;
}

footer {
  background-color: white;
}

.footer-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 20px;
}


.social-networks {
  display: flex;
  list-style-type: none;
  padding-top: 20px;
  justify-content: space-evenly;
}


